/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*=============== Varibles ===============*/
:root {
  /********** Colors **********/
  --first-color: #ffb3b2;
  --white-color: #fff;
  --dark-color: #121212;
  --white-color-text: #fff8f8;

  /********** Fonts **********/
  --body-font: "Poppins", sans-serif;

  --bigger-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --bigger-font-size: 4.5rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/* Base Css */
*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: url("../img/background.jpg");
  background-position: center center;
}
h1 {
  margin: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar - Menu */

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  margin: 1rem;
}
ul li {
  margin-right: 1rem;
}

.text-white {
  color: #fff;
}

/* Content */
main {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
}

.right {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 1rem;
}

.text {
  font-size: 4rem;
  margin-left: 3rem;
}

.play {
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Social Media */

.social-media {
  position: fixed;
  right: 3%;
  bottom: 0;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem 0.35rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.icon {
  color: #ffffff;
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

/* Responsive */
@media screen and (min-width: 768px) {
}
